		<!-- Footer -->
			<div id="footer">
					<div class="container">
						<div class="row">
							<section class="6u">
								<ul class="unstyled">
									<li><a href="http://www.uchicago.edu/">The University of Chicago</a></li>
									<li><a href="https://biologicalsciences.uchicago.edu/">UChicago Biological Science Division</a></li>
									<li><a href="https://pritzker.uchicago.edu/">Pritzker School of Medicine</a></li>
								</ul>
							</section>
							<section class="6u">
								<ul class="unstyled">
									<li><a href="http://cancer.uchicago.edu/">UChicago Comprehensive Cancer Center</a></li>
									<li><a href="https://benmay.uchicago.edu/">Ben May Department for Cancer Research</a></li>
									<li><a href="https://genes.uchicago.edu/">Department of Human Genetics</a></li>
								</ul>	
							</section>
						</div>
					</div>
				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>Updated 8/10/2021</li>
						</ul>
					</div>

			</div>

	</body>
</html>